{% extends "AppBundle:layouts:layout.html.twig" %}
{% block content %}
<h1 class="page-header">Registrar usuario</h1>
<div class="col-lg-6 box-form">
    <h2>Registrarse</h2>
    {{form_start(form, {'action':'', 'method':'POST'})}}
    {{form_errors(form)}}
    {{form_end(form)}}
    
</div>

{% endblock %}
