{% extends "AppBundle:layouts:layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">CÉDULA DE REGISTRO DE SITIO (Site Registration Form) </h1>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 box-form">
        <h2>Registrar cenote</h2>
        {{form_start(form, {'action':'', 'method':'POST'})}}
        {{form_errors(form)}}
        {{form_end(form)}}

    </div>

{% endblock %}