/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2017, 10:35:02 PM
    Author     : Emmanuel
*/
/*GENERAL*/
body{
    background: #eee;
}

a, p{
    font-size: 1.1em;
}



hr {
    border: 0 none #149c82;
    border-top: 1px solid #149c82;
    height: 1px;
}
/*header*/
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}
.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;

}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #149c82;
}



/*REGISTRO*/
.box-form{
    background:white;
    border: 1px solid #ccc;
    padding:20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;
}
.box-form input{
    margin-bottom: 15px;
}

.box-form textarea{
    margin-bottom: 15px;
}

.box-form select{
    margin-bottom: 15px;
}
/*listado users*/
.box-default{
    background:white;
    border: 1px solid #ccc;
    padding:20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;
}

.user-item .avatar{
    background: #eee;
    border-radius: 550px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;

}

.user-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content{
    padding: 10px;
    margin-left: 85px;
}

/* footer */
.text-muted {
    color: #616161;
}

/* home cenotes */
#user-card{
    padding: 10px;
}

#user-card .avatar{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

#user-card .avatar img{
    height: 100%;
    text-align: center;
}

#user-card .avatar img.default{
    opacity: 0.5;
}

#user-card .name-lastname{
    float: left;
    font-size: 20px;
    padding: 10px;
}

/*home*/
#cenotes-list{
	list-style: none;
	margin:0px;
	margin-top: 20px;
	padding: 0px;
}

.cenote-item{
	margin-bottom: 30px;

}

.cenote-image-thumb{
	width: 100%;
	height: 150px;
	overflow: hidden;
	background: #ddd;
}

.cenote-image-thumb img{
	width: 100%;
	margin-top: -27px;
}

.cenote-item .data{
	border: 1px solid #ddd;
	border-right: 0px 0px 5px 5px;
	padding: 10px;
	border-top: 0px;
	height: 130px;
}